.logo {
  border: 1px solid #fff;
}

.comments {
  .name {
    font-weight: 400;
    font-size: 22px;
  }
  .email {
    color: #004d40 !important;
    font-weight: 600;
  } 
  & > * {
    white-space: normal;
  }
}

.v-btn {
  color: #fff !important;
}

.active {
  padding: 0.3rem 0.75rem !important;
  border: 1px solid #004d40;
  border-radius: 100%;
  font-weight: 900;
  color: #004d40;
}

.pages {
  display: inline-block;

  span {
    display: inline-block;
    cursor: pointer;
    margin: 0 12px;

    &:hover {
      font-weight: 900;
      color: #004d40;
    }
  }
}
